
    <meta charset="utf-8" />
    <title><%-title%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
<style media="screen">
.selected {
  background-color:white;
  color:black;
  opacity: 0.5;
}
.nav-item{
  margin-top: 5px;
}
.img-circle {
  border-radius: 50%;
  width: 200px;
}
.bg {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/79086/gaussian_blur_simple_background.jpg);
  border-radius: 5px; /* 5px rounded corners */
}

.bodyg {
  background-image: url(https://i.ytimg.com/vi/n-9ZLWnFbOI/maxresdefault.jpg);
  border-radius: 5px; /* 5px rounded corners */
  background-repeat: space;
}
.ct {
  margin-top: 20px;
}



.jbg{
  border-radius: 5px; /* 5px rounded corners */
  opacity: 0.5;
  background: black;
}
.home{
  background-image: url(http://cdn.wallpapersafari.com/57/60/Jl14vU.jpg);
  background-position: right;
  /*background-size: 900px 250px;
  background-repeat: no-repeat;*/
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    opacity: 0.5;
    background: black;
}
.card-modal {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    opacity: 0.5;
    background: white;
}

.card-block {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hg{
    height: 250px;
}
</style>
