<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <style media="screen">
    .bb {
      background-image: url(https://media4.giphy.com/media/p3OxQ7Cq2lLcA/giphy.gif);
    }
    </style>
  </head>
  <body class="bb">

  </body>
</html>
