<!DOCTYPE HTML>
<html>
<head>
  <% include ./partials/head %>
</head>
<body class="bg">


<div id="status">
</div>
  <div class="container col-4 bg" style="margin-top:100px">
      <div class="card-header bg">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item bg">
            <a class="nav-link active" href="/login">login</a>
          </li>
          <li class="nav-item bg">
            <a class="nav-link" href="/signup" style="color:black">signup</a>
          </li>
        </ul>
      </div>
      <div class="jumbotron jbg">
          <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading" style="color:white">Log In</h2>
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus> <br>
            <input type="password" class="form-control" name="password" placeholder="Password" required> <br>
            <div class="checkbox">
            </div>
            <br>
            <%if(message!==null){%>
            <div class="alert alert-danger" role="alert">
              <strong><%-message%></strong>
            </div>
            <%}%>
            <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Login</button><br>
          </form>

      </div>
      <div >
        <hr>
      </div>

    </div>
</body>
</html>
